<%- include('../partials/header')%>
<div class="col-md-12">
    <%if(success != ''){%>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Success!</strong> <%=success%>.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
    <%}%>
    <h1> <%= heading %> </h1>
    <div class="row">
        
        <div class="col-md-12">
            <%- include('../partials/filter_form') %>
        </div>

    <%  if(data.length){
        data.forEach((val)=>{ %>
            <div class="col-md-3">
                <h3> Name: <%= val.name %></h3>
                <p> Email: <%= val.email %></p>
                <p> Student Id: <%= val.id%></p>
                <p> City: <%= val.city%></p>
                <p> Standard: <%= val.standard %></p>

                <a href="/student/edit/<%=val.id%>" class="btn btn-secondary">Edit </a>
                <a href="/student/delete/<%=val.id%>" class="btn btn-danger">Delete </a>
            </div>

        <% })}else{ %>
            <div class="col-md-12">
                <h4> No records found! </h4>
            </div>
        <%}%>
    </div>

    <%- include('../partials/addform') %>      
</div>
    <%- include('../partials/footer')%>